html {
    height: 100%;
}

.container {
    margin-right: auto;
    margin-left: auto;
    width: 80%;
}

body {
    background-color: black;
    background-image: url(Images/kwporto2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    background-attachment: fixed;
}


header {
    height: 280px;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
}

nav {
    background-color: black;
    opacity: 50%;
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: center;

}

.main {
    height: 400px;
    text-align: center;
    margin-top: 5%;
    padding-left: 240px;
    padding-right: 240px;
}

.main p {
    padding-top: 80px;
    font-size: 18px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    background-color: black;
    opacity: 50%;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-top: 5%;
    text-align: center;
}


p {
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

nav a {
    text-decoration: none;
    font-size:  12px;
    padding-left: 10px;
    padding-right: 10px;
}


/*galerie */ 



div.gallery {
    margin-top: 80px;
    margin-left: 42px;
    border: 1px solid #ccc;
    float: left;
    width: 200px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: 200px;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
    color: white;
  }

  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

  /*phone friendly*/

  @media only screen and (max-width: 800px) {
    div.gallery {
        
      width: 40%;
      margin-left: 6%;
    }
    .main {
        margin-left: 10%;
        width: 80%;
        padding-left: 0px;
        padding-right: 0px;
    }
  }
  
  @media only screen and (max-width: 500px) {
    div.gallery {
        margin-left: 10%;
        width: 80%;
    }
    .main {
        margin-left: 10%;
        width: 80%;
        padding-left: 0px;
        padding-right: 0px;
    }

    footer {
        margin-top: 10%;
    }
  }

  

